<div id="module-description">
    <div class="container loempia_srt_container">
        <div class="container">
            <div class="oe_styling_v8">
                <span rel="stylesheet"
                      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></span>
                <section>
                    <div class="container">
                        <div class="row justify-content-md-between justify-content-center border-bottom align-items-center py-2 mx-0">
                            <div class="d-flex flex-wrap justify-content-center py-2">
                                <div class="text-center">
                                    <a href="https://apps.odoo.com/apps/modules/browse?search=Omega System"
                                       target="_blank" class="btn mb-2 mb-lg-0"
                                       style="background-color:#000000; color:#fff"><i
                                            class="fa fa-globe"></i> <span
                                            class="d-none d-sm-inline">OS Apps</span></a>
                                </div>
                            </div>
                            <div class="text-center mb-3 mb-lg-0 ml-md-5">
                    <span class="btn p-2" href="https://omegasystem.in/">
                        <img src="os.png"
                             alt="omegasystem" style="height:30px">
                    </span>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Header Ends-->
                <section class="pt40 pb0">
                    <div class="container">
                        <h1 class="text-center font-weight-bold display-4"
                            style="color:#000000">
                            POS Receipt in Invoice
                        </h1>
                        <img src="banner.gif"
                             class="img img-fluid mx-auto px-xl-5 pb-xl-4">
                        <hr class="w-50"
                            style="border-style:solid; border-top-width:2px; border-color:#000000">
                        <img src="Screenshot from 2022-07-31 13-07-24.png"
                             class="img img-fluid mx-auto px-xl-5 pb-xl-4">

                    </div>
                </section>
                <!-- OUR SERVICES -->
                <section class="container"
                         style="margin-top: 6rem !important;">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                            <hr class="position-absolute"
                                style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                            <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                                Our Services</h2>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #1dd1a1 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/cogs.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Customization</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #ff6b6b !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/wrench.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Implementation</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #6462CD !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/lifebuoy.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Support</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #ffa801 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/user.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                Hire
                                odoo
                                Developer</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #54a0ff  !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/puzzle.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Integration</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #6d7680 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/update.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Migration</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #786fa6 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/consultation.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Consultancy</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #f8a5c2 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/training.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Implementation</h6>
                        </div>

                        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                                 style="background-color: #e6be26 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                                <img src="assets/icons/license.png"
                                     class="img-responsive" height="48px"
                                     width="48px">
                            </div>
                            <h6 class="text-center"
                                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                                odoo
                                Licensing Consultancy</h6>
                        </div>
                    </div>
                </section>
                <!-- END OF END OF OUR SERVICES -->

                <!-- OUR INDUSTRIES -->
                <section class="container"
                         style="margin-top: 6rem !important; background-color: #fff !important;">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                            <hr class="position-absolute"
                                style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                            <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                                Our Industries</h2>
                        </div>

                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/trading-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Trading
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Easily
                                    procure
                                    and
                                    sell your products</p>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/pos-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    POS
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Easy
                                    configuration
                                    and convivial experience</p>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/education-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Education
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    A
                                    platform for
                                    educational management</p>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/manufacturing-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Manufacturing
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Plan,
                                    track and
                                    schedule your operations</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/ecom-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    E-commerce &amp; Website
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Mobile
                                    friendly,
                                    awe-inspiring product pages</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/service-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Service Management
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Keep
                                    track of
                                    services and invoice</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/restaurant-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Restaurant
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    Run
                                    your bar or
                                    restaurant methodically</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="my-4 d-flex flex-column justify-content-center"
                                 style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                                <img src="./assets/icons/hotel-black.png"
                                     class="img-responsive mb-3" height="48px"
                                     width="48px">
                                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                                    Hotel Management
                                </h5>
                                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                                    An
                                    all-inclusive
                                    hotel management application</p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- END OF END OF OUR INDUSTRIES -->

                <!-- FOOTER -->
                <!-- Footer Section -->
                <section class="container"
                         style="margin: 5rem auto 2rem; background-color: #fff !important;">
                    <div class="row" style="max-width:1540px;">
                        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                            <hr class="position-absolute"
                                style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                            <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                                Need Help?</h2>
                        </div>
                    </div>
                    <!-- Contact Cards -->
                    <div class="row d-flex justify-content-center align-items-center"
                         style="max-width:1540px; margin: 0 auto 2rem auto;">
                        <div class="col-lg-12"
                             style="padding: 0rem 3rem 2rem; border-radius: 10px; margin-right: 3rem; ">
                            <div class="row mt-4">
                                <div class="col-lg-4">
                                    <a href="https://omegasystem.in/"
                                       target="_blank"
                                       class="btn btn-block mb-2 deep_hover"
                                       style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;"><i
                                            class="fa fa-globe mr-2"></i>omegasystem.in</a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="https://api.whatsapp.com/send?phone=918866623118"
                                       target="_blank"
                                       class="btn btn-block mb-2 deep_hover"
                                       style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;">
                                        <i class="fa fa-whatsapp mr-2"></i>WhatsApp</a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="mailto:omega.corpo@gmail.com"
                                       target="_blank"
                                       class="btn btn-block deep_hover"
                                       style="text-decoration: none; background-color: #4d4d4d; color: #FFF;  border-radius: 4px;">
                                        <i class="fa fa-envelope mr-2"></i>omega.corpo@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
